<div class="menu">
    <div class="card card-of-task">
        <a *ngIf="ifX" class="close" (click)="closeCard()">&times;</a>
        <div class="back">
            <button class="btn btn-color" [disabled]="isDisabledStart" *ngIf="textButtonBack"
                (click)="backToMyTask()">{{textButtonBack}}
            </button>
        </div>
        <div class="back2">
            <button (click)="showStatisticsGraphAllEmployeeDetailsToManager()" class="edit-button"
            class="chart-button" placement="right" ngbTooltip="צפיה בנתונים של העובדים"  *ngIf="showChrtEmployee">
            <i class="fa fa-bar-chart" aria-hidden="true"></i>
          </button>
        </div>
        <div class="card-body">
            <h3 class="card-title"> {{title}}
                <img *ngIf="src" src="{{src}}">
            </h3>
            <div class="header">
                <ng-content select="[header]"></ng-content>
            </div>
            <div class="card-content">
                <ng-content select="[body]"></ng-content>
            </div>
            <div class="">
                <ng-content select="[footer]"></ng-content>
            </div>
        </div>
    </div>
</div>
